// style guide










*,::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(97.77deg, #C850B0 13.35%, #36D6E7 100.28%);
}